.contents {
   justify-content: center;
   display: flex;
   align-items: center;
}
   
.Outline {
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   width: 1000px;
   height: 400px;
   margin-top: 550px;
   border: 6px solid #1C768F;
   box-sizing: border-box;
}

.BackgroundRectangle {
   margin-top: 17.5px;
   margin-left: auto;
   margin-right: auto;
   width: 950px;
   height: 350px;
   background: #FBF3F2;
   text-align: center;
   box-sizing: border-box;
   padding: 10px;
}

.ContinueBox {
   margin-left: 825px;
   margin-top: -80px;
   width: 125px;
   height: 40px;
   background: #FA991C;
   border-radius: 20px;
   color: black;
}

.ContinueText{
   text-align: center;
   padding-top: 8px;
}

.continue-link {
   text-decoration: none;
}

.ContinueBox:hover {
   margin-left: 825px;
   margin-top: -80px;
   width: 125px;
   height: 40px;
   background: black;
   border-radius: 20px;
   color: #FA991C;
   transition: all 0.2s ease-out;
}