@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@600&display=swap');

.contents {
    justify-content: center;
    display: flex;
    align-items: center;
 }

 .sort-title{
    position: center;
    width: auto;
    margin-top: auto;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    
    color: #000000;
 }

 .sort-title-background
 {
    position: center;
    width: 474px;
    height: 40px;
    margin-top: 60px;

    background: rgba(250, 153, 28, 0.35); 
 }

.gen-num-button {

    position: absolute;
    width: 280px;
    height: 30px;
    top: 180px;
  
    background: #032539;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    padding: 6px;
    
    color: #FBF3F2;
}

.gen-num-button:hover {
    
    background-color: #ffffff;
    color: #032539;
    border: 1px solid;
    border-color: #032539;
    transition: ease-out;
}

.your-values {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.randomNum{
    position: relative;
    width: 290px;
    height: 40px;
    margin-left: 350px;
    padding-top: 10px;
    align-items: center;
    text-align: center;

    background: #F1F1F1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 

.continue-button{
    position: absolute;
    bottom: 23px;
    right: 25px;
    width: 150px;
    height: 40px;
    background: #FA991C;
    border-radius: 20px;
    color: black;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.back-button{
    position: absolute;
    bottom: 23px;
    left: 25px;
    width: 125px;
    height: 40px;
    background: #FA991C;
    border-radius: 20px;
    color: black;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.continue-button:hover,
.back-button:hover, .next-button:hover { 

    background: black;
    color: #FA991C;
    transition: all 0.2s ease-out;
}

.outliner{
    position: absolute;
    width: 1000px;
    height: 500px;
    margin-top: 800px;
    border: 6px solid #1C768F;
    box-sizing: border-box;
}

.next-button {
    display: none;
}

.sorted-array {
    position: absolute;
    width: 300px;
    height: 44px;
    left: 410px;
    bottom: 30px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    padding-top: 8px;
    letter-spacing: 3.5px;
    
    border-radius: 10px;

}

.sorted-text{
    position: absolute;
    width: 330px;
    height: 49px;
    left: 250px;
    bottom: 25px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.next-button{
    position: absolute;
    bottom: 30px;
    right: 25px;
    width: 150px;
    height: 40px;
    background: #FA991C;
    border-radius: 20px;
    color: black;
    padding-top: 3px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
 


}

@keyframes pulse {
    0% {
		transform: scale(0.95);

	}

	70% {
		transform: scale(1.5);
        color: orangered;
        
	}

	100% {
		transform: scale(0.95);


	}
}

.test0, .test1, .test2, .test3, .test4,
.test5, .test6, .test7, .test8, .test9, .test10,
.test11, .test12, .test13, .test14 {
    display: none;
}