.contents{
    justify-content: center;
    display: flex;
    align-items: center;
 }
 
 
 .sort-title-background1 {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(250, 153, 28, 0.35);
    height: 30px;
    width: 350px;
    position: absolute;
    z-index: -1;
    margin-top: 80px;
 }
 
 .sort-title-background1 { 
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-top: 40px;
 }
 
    
 .Outline2 {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 1000px;
    height: 400px;
    margin-top: 550px;
    border: 6px solid #1C768F;
    box-sizing: border-box;
 }
 
 .BackgroundRectangle2 {
    margin-top: 17.5px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 350px;
    background: #FBF3F2;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
 }
 
 .ContinueBox2 {
    position: absolute;
    bottom: 20px;
    right: 25px;
    width: 125px;
   height: 40px;
    background: #FA991C;
    border-radius: 20px;
    color: black;
 }
 .ContinueText2{
    text-align: center;
    margin-top: 5px;
    
 }

 .continue-link1 {
    text-decoration: none;
 }