.Rectangle15{

position: absolute;
width: 474px;
height: 40px;
left: 415px;
top: 75px;

background: rgba(250, 153, 28, 0.35);
}

.MergeSortText{

position: absolute;
width: 500px;
height: 88px;
left: 100px;
top: -60px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 59px;

color: #000000;
}


.Rectangle1{

position: absolute;
width: 545px;
height: 500px;
left: 370px;
top: 140px;

background: #032539;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px 0px;
}

.Rectangle2{

position: absolute;
width: 215px;
height: 61px;
left: 170px;
top: 20px;

background: #FBF3F2;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.Level1Text{

position: absolute;
width: 168px;
height: 38px;
left: 70px;
top: -12px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.RectangleLvl2{

    position: absolute;
    width: 215px;
    height: 61px;
    left: 170px;
    top: 100px;
    
    background: #FBF3F2;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }
    
    .Level2Text{
    
    position: absolute;
    width: 168px;
    height: 38px;
    left: 23px;
    top: -12px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    }

    .RectangleLvl3{

        position: absolute;
        width: 215px;
        height: 61px;
        left: 170px;
        top: 180px;
        
        background: #FBF3F2;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        }

        .Level3Text{
    
            position: absolute;
            width: 168px;
            height: 38px;
            left: 23px;
            top: -12px;
            
            font-family: Roboto;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-align: center;
            
            color: #000000;
            }

            .RectangleLvl4{

                position: absolute;
                width: 215px;
                height: 61px;
                left: 170px;
                top: 260px;
                
                background: #FBF3F2;
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                }
        
                .Level4Text{
            
                    position: absolute;
                    width: 168px;
                    height: 38px;
                    left: 23px;
                    top: -12px;
                    
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 28px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    
                    color: #000000;
                    }

                    .RectangleLvl5{

                        position: absolute;
                        width: 215px;
                        height: 61px;
                        left: 170px;
                        top: 340px;
                        
                        background: #FBF3F2;
                        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 20px;
                        }
                
                        .Level5Text{
                    
                            position: absolute;
                            width: 168px;
                            height: 38px;
                            left: 23px;
                            top: -12px;
                            
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 28px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            
                            color: #000000;
                            }

                            .RectangleLvlCustom{

                                position: absolute;
                                width: 215px;
                                height: 61px;
                                left: 170px;
                                top: 420px;
                                
                                background: #FBF3F2;
                                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 20px;
                                }
                        
                                .LevelCustomText{
                            
                                    position: absolute;
                                    width: 168px;
                                    height: 38px;
                                    left: 23px;
                                    top: -12px;
                                    
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 24px;
                                    line-height: 28px;
                                    display: flex;
                                    align-items: center;
                                    text-align: center;
                                    
                                    color: #000000;
                                    }