.LogOut-contents {
    justify-content: center;
    display: flex;
    align-items: center;
 }
 
 .LogOut-title-background {
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(250, 153, 28, 0.35);
   height: 40px;
   width: 474px;
   position: absolute;
   z-index: -1;
   margin-top: 90px;
 }
 
 .LogOut-title { 
   font-family: 'Montserrat', sans-serif;
   font-size: 48px;
   font-style: normal;
   font-weight: bold;
   line-height: 59px;
   display: flex;
   justify-content: center;
   margin-top: 30px;

 }
 
 .LogOut-Outline {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 1000px;
    height: 250px;
    margin-top: 425px;
    border: 6px solid #1C768F;
    box-sizing: border-box;
 }
 
 .LogOut-BackgroundRectangle {
    margin-top: 17.5px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 200px;
    background: #FBF3F2;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
 }

 .Logout-Box{
   
   position: absolute;
   width: 244px;
   height: 71px;
   top: 100px;
   
   background: #1C768F;
   border-radius: 80px;
}

.Logout-Box:hover {
   position: absolute;
   width: 244px;
   height: 71px;
   top: 100px;
   
   background:  #032539;
   border-radius: 80px;
   transition: all 0.2s ease-out;
}

.Logout-button{
   justify-content: center;
    display: flex;
    align-items: center;
}

.Logout-text{
   
   position: absolute;
   width: 200px;
   height: 35px;
   left: 25px;
   top: -12px;
   
   font-family: 'Nunito', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 35px;
   color: #FFFFFF;
}